[config]
port=25
sleeptime=30
waitafterpop=5
debuglevel=0
deleteonerror=true

[logging]
file=smtpproxy.log
size=1000000
count=10
level=INFO

[foo@localdomain.com]
localhostname=localdomain.com
smtphost=smtp.example.com
smtpport=25
smtptls=true
smtpusername=username
smtppassword=password
popbeforesmtp=true
pophost=pop.example.com
popport=995
popssl=true
popusername=username
poppassword=password
popcheckdelay=60
returnpath=me@example.com

[bar@localdomain.com>]
use=foo@localdomain.com
